<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('label.post.title') %>:</strong>
  <%= @post.title %>
</p>

<p>
  <strong><%= t('label.post.text') %>:</strong>
  <%= @post.text %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
